* {
  margin: 0;
  padding: 0;
}

.nowrap {
  white-space: nowrap;
}

.App {
  font-family: 'Soehne web buch', sans-serif;
}

.navbar-text {
  white-space: nowrap;
  transition: color 0.1s;
}

.navbar-text:hover {
    color:#7DE2D1;
}